html, body{
  overflow: visible;

}

iframe{
  position: absolute;

}

#appear{
  position: absolute;
  z-index: 4;
  width:200px;
}

#fabmap{
  width: 100%;
  height: 1000px;
  top: 0;
  display: block;
}

#popmap{
  /* z-index:3; */
  height:100%;
  width:100%;
}

#uploader{
  top: 70%;
  width: 200px;
  height:150px;
}

.rolodex{
  left:90%;
  height:100%;
  width:10%;
}

.minmov{
  font-family:sans-serif;
}

.button {
  position:absolute;
  background-image:linear-gradient(orange,red);
  z-index: 6;
  left:50%;
  top:80%;
}
