/* The background clip for text mixin */
/* Based on Divya's pure CSS solution: http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
/* The mixin in action... */
div {
  color: #fff;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url("http://inflexions.org/cepholopodresearch/p5/gifverse/breeze.gif") repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  font-family: times;
  font-size: 5em;
  margin: 2em 0;
  padding: 50px;
  text-align: left;
}

/* Other Styles */
body {
  background: #444 url("http://inflexions.org/cepholopodresearch/galleria/roomwork/Screen%20Shot%202017-08-10%20at%2012.16.06%20AM.png");
}

@font-face {
  font-family: "arial";
  font-weight: normal;
  font-style: normal;
}
